## Latitude and Longitude Data

### Data Source

- US states latitude and longitude:
  https://www.kaggle.com/paultimothymooney/latitude-and-longitude-for-every-country-and-state
  
- US cities latitude and longitude:
  API call from google Geocoding

#### import dependencies

In [1]:
import pandas as pd

#### import datasets: college data, lat/lng from city and state

In [2]:
college_df = pd.read_csv('../Niche_Scraping/top800_best_colleges_in_America_2022.csv').iloc[:, 1:]
college_df['city'] = college_df['city'].str.title()
college_df['city'] = college_df['city'].str.replace('Saint','St.')
college_df['state'] = college_df['state'].str.strip()
college_df['location'] = college_df['city']+', '+college_df['state']
college_df.head()

,name,rating,location,niche_grade,acceptance_rate (%),net_price ($),SAT_range,city,state,SAT_low,SAT_high,SAT_average
0,Massachusetts Institute of Technology,1,"Cambridge, MA",A+,7,20465.0,1510-1570,Cambridge,MA,1510.0,1570.0,1540.0
1,Harvard University,2,"Cambridge, MA",A+,5,18030.0,1460-1570,Cambridge,MA,1460.0,1570.0,1515.0
2,Stanford University,3,"Stanford, CA",A+,4,16779.0,1440-1570,Stanford,CA,1440.0,1570.0,1505.0
3,Yale University,4,"New Haven, CT",A+,6,18073.0,1460-1570,New Haven,CT,1460.0,1570.0,1515.0
4,Princeton University,5,"Princeton, NJ",A+,6,18712.0,1460-1570,Princeton,NJ,1460.0,1570.0,1515.0

In [3]:
state_lat_lng = pd.read_csv("state_lat_lng.csv")
city_lat_lng = pd.read_csv("city_lat_lng.csv")
college_lat_lng = pd.read_csv("college_lat_lng.csv")

#### merge

In [4]:
college_state_df = college_df.merge(state_lat_lng, how='left', on='state')
#college_state_df.head()

In [5]:
# check returned number of entries
len(college_state_df)

800

In [6]:
college_state_df['state_lat'].isnull().values.any()

False

In [7]:
college_city_state_df = college_state_df.merge(city_lat_lng, how = 'left', on='location')

In [8]:
len(college_city_state_df)

800

In [9]:
final_df = college_city_state_df.merge(college_lat_lng, how = 'left', on = 'name')

#### export

In [10]:
final_df.to_csv("../Data/data.csv",index=False)