## Latitude and Longitude Data

### Data Source

- US states latitude and longitude:
  https://www.kaggle.com/paultimothymooney/latitude-and-longitude-for-every-country-and-state
  
- US cities latitude and longitude:
  API call from google Geocoding

#### import dependencies

In [1]:
import pandas as pd

#### import datasets: college data, lat/lng from city and state

In [2]:
college_df = pd.read_csv('../Niche_Scraping/top800_best_colleges_in_America_2022.csv').iloc[:, 1:]
college_df['city'] = college_df['city'].str.title()
college_df['city'] = college_df['city'].str.replace('Saint','St.')
college_df['state'] = college_df['state'].str.strip()
college_df['location'] = college_df['city']+', '+college_df['state']
college_df.head()

,name,rating,location,niche_grade,acceptance_rate (%),net_price ($),SAT_range,city,state,SAT_low,SAT_high,SAT_average
0,Massachusetts Institute of Technology,1,"Cambridge, MA",A+,7,20465.0,1510-1570,Cambridge,MA,1510.0,1570.0,1540.0
1,Harvard University,2,"Cambridge, MA",A+,5,18030.0,1460-1570,Cambridge,MA,1460.0,1570.0,1515.0
2,Stanford University,3,"Stanford, CA",A+,4,16779.0,1440-1570,Stanford,CA,1440.0,1570.0,1505.0
3,Yale University,4,"New Haven, CT",A+,6,18073.0,1460-1570,New Haven,CT,1460.0,1570.0,1515.0
4,Princeton University,5,"Princeton, NJ",A+,6,18712.0,1460-1570,Princeton,NJ,1460.0,1570.0,1515.0

In [3]:
state_lat_lng = pd.read_csv("state_lat_lng.csv")
city_lat_lng = pd.read_csv("city_lat_lng.csv")
college_lat_lng = pd.read_csv("college_lat_lng.csv")

#### merge

In [4]:
college_state_df = college_df.merge(state_lat_lng, how='left', on='state')
#college_state_df.head()

In [5]:
# check returned number of entries
len(college_state_df)

800

In [6]:
college_state_df['state_lat'].isnull().values.any()

False

In [7]:
college_city_state_df = college_state_df.merge(city_lat_lng, how = 'left', on='location')

In [8]:
len(college_city_state_df)

800

In [9]:
final_df = college_city_state_df.merge(college_lat_lng, how = 'left', on = 'name')

#### export

In [10]:
final_df.to_csv("../Data/data.csv",index=False)

#### groupby state

In [16]:
final_df

,name,rating,location,niche_grade,acceptance_rate (%),net_price ($),SAT_range,city,state,SAT_low,SAT_high,SAT_average,state_full,state_lat,state_lng,city_lat,city_lng,college_lat,college_lng
0,Massachusetts Institute of Technology,1,"Cambridge, MA",A+,7,20465.0,1510-1570,Cambridge,MA,1510.0,1570.0,1540.0,Massachusetts,42.407211,-71.382437,42.373616,-71.109733,42.360091,-71.094160
1,Harvard University,2,"Cambridge, MA",A+,5,18030.0,1460-1570,Cambridge,MA,1460.0,1570.0,1515.0,Massachusetts,42.407211,-71.382437,42.373616,-71.109733,42.377003,-71.116660
2,Stanford University,3,"Stanford, CA",A+,4,16779.0,1440-1570,Stanford,CA,1440.0,1570.0,1505.0,California,36.778261,-119.417932,37.424106,-122.166076,37.427475,-122.169719
3,Yale University,4,"New Haven, CT",A+,6,18073.0,1460-1570,New Haven,CT,1460.0,1570.0,1515.0,Connecticut,41.603221,-73.087749,41.308274,-72.927883,41.316324,-72.922343
4,Princeton University,5,"Princeton, NJ",A+,6,18712.0,1460-1570,Princeton,NJ,1460.0,1570.0,1515.0,New Jersey,40.058324,-74.405661,40.357298,-74.667223,40.343094,-74.655074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Viterbo University,796,"La Crosse, WI",B,77,20747.0,1050-1270,La Crosse,WI,1050.0,1270.0,1160.0,Wisconsin,43.784440,-88.787868,43.813775,-91.251902,43.802122,-91.245114
796,University of Michigan - Flint,797,"Flint, MI",B,66,12153.0,970-1220,Flint,MI,970.0,1220.0,1095.0,Michigan,44.314844,-85.602364,43.012527,-83.687456,43.019933,-83.688193
797,Cornerstone University,798,"Grand Rapids, MI",B,78,19923.0,950-1190,Grand Rapids,MI,950.0,1190.0,1070.0,Michigan,44.314844,-85.602364,42.963360,-85.668086,42.981060,-85.595869
798,Northern Illinois University,799,"Dekalb, IL",B,48,18346.0,940-1170,Dekalb,IL,940.0,1170.0,1055.0,Illinois,40.633125,-89.398528,41.929536,-88.749913,41.934233,-88.774069
799,University of Colorado - Colorado Springs,800,"Colorado Springs, CO",B,87,16221.0,1020-1230,Colorado Springs,CO,1020.0,1230.0,1125.0,Colorado,39.550051,-105.782067,38.833882,-104.821363,38.891425,-104.797182

In [24]:
state_df = final_df[['state_full','name']].groupby('state_full').count().rename(columns={'name':'Total Count'})
state_df.sort_values('Total Count',ascending = False)

                      Total Count
state_full
New York                       70
California                     64
Pennsylvania                   53
Texas                          40
Massachusetts                  34
Illinois                       34
Florida                        29
Ohio                           29
Indiana                        28
Minnesota                      26
Michigan                       25
Virginia                       23
Wisconsin                      22
Tennessee                      19
Missouri                       18
North Carolina                 17
South Carolina                 17
Washington                     17
Iowa                           15
New Jersey                     15
Georgia                        15
Alabama                        13
Louisiana                      12
Connecticut                    11
Kansas                         11
Oregon                         10
Maryland                        9
Colorado                        9
Kentucky                        9
Arkansas                        8
Oklahoma                        8
Mississippi                     8
Arizona                         7
Nebraska                        7
South Dakota                    6
North Dakota                    6
Rhode Island                    6
District of Columbia            6
Utah                            5
Idaho                           5
Maine                           5
Hawaii                          5
Montana                         5
Vermont                         4
New Mexico                      4
New Hampshire                   3
Nevada                          3
West Virginia                   2
Delaware                        1
Alaska                          1
Wyoming                         1

In [27]:
state_df.to_csv("../Data/states.csv")