In [1]:
import pandas as pd

In [7]:
data_df = pd.read_csv("Data/data.csv")
state_df = data_df[['state_full','name']].groupby('state_full').count().rename(columns={'name':'Total Count'})
state_df = state_df.sort_values('Total Count',ascending = False)
state_df=state_df.reset_index()
state_df

              state_full  Total Count
0               New York           70
1             California           64
2           Pennsylvania           53
3                  Texas           40
4          Massachusetts           34
5               Illinois           34
6                Florida           29
7                   Ohio           29
8                Indiana           28
9              Minnesota           26
10              Michigan           25
11              Virginia           23
12             Wisconsin           22
13             Tennessee           19
14              Missouri           18
15        North Carolina           17
16        South Carolina           17
17            Washington           17
18                  Iowa           15
19            New Jersey           15
20               Georgia           15
21               Alabama           13
22             Louisiana           12
23           Connecticut           11
24                Kansas           11
25                Oregon           10
26              Maryland            9
27              Colorado            9
28              Kentucky            9
29              Arkansas            8
30              Oklahoma            8
31           Mississippi            8
32               Arizona            7
33              Nebraska            7
34          South Dakota            6
35          North Dakota            6
36          Rhode Island            6
37  District of Columbia            6
38                  Utah            5
39                 Idaho            5
40                 Maine            5
41                Hawaii            5
42               Montana            5
43               Vermont            4
44            New Mexico            4
45         New Hampshire            3
46                Nevada            3
47         West Virginia            2
48              Delaware            1
49                Alaska            1
50               Wyoming            1

In [10]:
state_df.to_json("Data/pieplot.json", orient = "records")