In [4]:
import pandas as pd

In [5]:
data_df = pd.read_csv("Data/data.csv")
state_df = data_df[['state_full','name']].groupby('state_full').count().rename(columns={'name':'Total Count'})
state_df = state_df.sort_values('Total Count',ascending = False)
state_df

                      Total Count
state_full
New York                       70
California                     64
Pennsylvania                   53
Texas                          40
Massachusetts                  34
Illinois                       34
Florida                        29
Ohio                           29
Indiana                        28
Minnesota                      26
Michigan                       25
Virginia                       23
Wisconsin                      22
Tennessee                      19
Missouri                       18
North Carolina                 17
South Carolina                 17
Washington                     17
Iowa                           15
New Jersey                     15
Georgia                        15
Alabama                        13
Louisiana                      12
Connecticut                    11
Kansas                         11
Oregon                         10
Maryland                        9
Colorado                        9
Kentucky                        9
Arkansas                        8
Oklahoma                        8
Mississippi                     8
Arizona                         7
Nebraska                        7
South Dakota                    6
North Dakota                    6
Rhode Island                    6
District of Columbia            6
Utah                            5
Idaho                           5
Maine                           5
Hawaii                          5
Montana                         5
Vermont                         4
New Mexico                      4
New Hampshire                   3
Nevada                          3
West Virginia                   2
Delaware                        1
Alaska                          1
Wyoming                         1

In [7]:
state_df.to_csv("Data/states.csv")